@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components{
    .key{
        @apply border-[1px] border-black h-[19%]  w-[6.5%] rounded-[10%]  flex items-center justify-center;
    }
}
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari, and Opera */
      .hide-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge, and Firefox */
      .hide-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
    }
  }